<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/home"></ion-back-button>
    </ion-buttons>
    <ion-title> Historial de Diágnóstico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let diagnos of Diagnosticos" class="iitcont" lines="none">
      <ion-grid>
        <ion-row>
          <ion-col>
            <h1 class="h1tit">{{diagnos.detalle.tipo_enfermedad}}</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="lblfec">Fecha de Diágnóstico:</ion-label>
            <ion-label class="lbldat">{{diagnos.detalle.fecha_creacion}}</ion-label>
            <ion-button class="btndet" color="blue" routerLink="/detail"> Ver Detalle </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
