<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item class="itlog" lines="none">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label class="lbltit">
              Bienvenido a OsteoVision
              <img class="imgicon" src="/assets/icon/Icon.png" alt="Icon" />
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <form [formGroup]="formLoginUser">
            <ion-col>
              <ion-input formControlName="usuario" class="inpuser" label="Usuario" labelPlacement="stacked">
                <ion-icon slot="start" name="person-circle-outline" aria-hidden="true"></ion-icon>
              </ion-input>
            </ion-col>
            <ion-col>
              <ion-input formControlName="pass" class="inppas" label="Contraseña" type="password" labelPlacement="stacked">
                <ion-icon slot="start" name="key" aria-hidden="true"></ion-icon>
              </ion-input>
            </ion-col>
            <ion-col>
              <ion-button class="btnlog" color="green" type="submit" (click)="loginUser()">Ingresar</ion-button>
            </ion-col>
          </form>
        </ion-row>
        <ion-row class="btncont">
          <ion-col>
            <ion-label class="lblreg">¿No estás registrado?</ion-label>
          </ion-col>
        </ion-row>
        <ion-row class="btncont">
          <ion-col>
            <ion-button class="btnret" color="green" routerLink="/register">Registrar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>