<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/home"></ion-back-button>
    </ion-buttons>
    <ion-title> Historial de Diágnóstico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" (click)="onSearchFacilities()">Buscar cerca de mí</ion-button>
  <div id="map" style="height: 400px;"></div>
  <ion-list>
    <ion-item *ngFor="let facility of facilities" class="facility-item">
      {{ facility.tags.name || facility.tags.amenity || 'Servicio Médico' }}
    </ion-item>
  </ion-list>
</ion-content>
