<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/history"></ion-back-button>
    </ion-buttons>
    <ion-title> Detalle de Historial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="ion-padding">
    <div class="divrep">
      <ion-item class="iitdex">
        <img class="imgdex" src="/assets/detxra.jpg" alt="rayoX" />
      </ion-item>
      <ion-item>
        <ion-label class="iittit iitenf">{{diagnos}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="iittit">Prescición (%):</ion-label>
        <ion-label class="iitinf">{{presicion}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="iittit">Descripción:</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="iitinf">{{descripcion}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="iittit">Recomendaciones:</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="iitinf">{{recomend}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-buttons class="btnsop">
          <ion-button class="btndes">
            Descargar<ion-icon class="iicic" name="reader"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
