<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Nuevo Diagnóstico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="ion-padding">
    <ion-item lines="none">
      <ion-buttons class="btnscon">
        <ion-button class="btnupl" (click)="abrirGaleria()">
          Subir Imagen
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item lines="none">
      <ion-buttons>
        <ion-button
          class="btndia"
          id="present-alertR"
          [disabled]="botonesDesactivados"
        >
          Radiografía
        </ion-button>
        <ion-button
          class="btndia"
          id="present-alertT"
          [disabled]="botonesDesactivados"
        >
          Tomografía
        </ion-button>
      </ion-buttons>
      <ion-alert
        class="ialale"
        trigger="present-alertR"
        header="Precaución"
        message="OsteoVision hace un diagnóstico presuntivo más no un final, le recomendamos buscar un médico para un diagnóstico final"
        [buttons]="alertButtons"
      ></ion-alert>
      <ion-alert
        class="ialale"
        trigger="present-alertT"
        header="Precaución"
        message="OsteoVision hace un diagnóstico presuntivo más no un final, le recomendamos buscar un médico para un diagnóstico final"
        [buttons]="alertButtons"
      ></ion-alert>
    </ion-item>
    <div id="pdf-content" class="divrep">
      <ion-item class="iitimg">
        <div class="divimg">
          <img
            class="imgdex"
            *ngIf="imagenSeleccionada"
            [src]="imagenSeleccionada"
            alt="rayX"
          />
        </div>
      </ion-item>
      <ion-item>
        <ion-label class="iittit iitenf">Texto de la enfermedad</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="iittit">Prescición (%):</ion-label>
        <ion-label class="iitinf">80</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="iittit">Descripción:</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="iitinf">Texto de descripcion</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="iittit">Recomendaciones:</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="iitinf">Texto de recomendaciones</ion-label>
      </ion-item>
      <ion-item>
        <ion-buttons class="btnsop">
          <ion-button class="btndes" [disabled]="botonesDesactivados">
            Descargar<ion-icon class="iicic" name="reader"></ion-icon>
          </ion-button>
          <ion-button class="btncon" [disabled]="botonesDesactivados">
            Conservar<ion-icon name="archive"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
