<ion-content [fullscreen]="true" class="content-wrapper ion-no-padding">
  <ion-list class="ion-no-padding">
    <ion-item class="iithead ion-no-padding">
      <img
        src="/assets/headHome.jpg"
        alt="headHome"
        class="imghead ion-no-padding"
      />
      <img
        src="/assets/loghome.png"
        alt="headHome"
        class="head ion-no-padding"
      />
    </ion-item>

    <div class="content-center">
      <ion-item class="iitclas">
        <ion-thumbnail slot="start">
          <img
            class="imgicon ion-no-padidng"
            alt="OsteoVision"
            src="/assets/icon/Icon.png"
          />
        </ion-thumbnail>
        <ion-label class="lblinfo"
          >OsteoVision es una aplicación para la predicción de diagnósticos
          presuntivos sobre radiografías para la identificación de la
          Osteoporosis usando la IA.</ion-label
        >
      </ion-item>
    </div>
    <ion-item class="iitmenu ion-no-padding" lines="none">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col
            ><ion-button class="btnopcl" color="rgb(0, 128, 128)" routerLink="/diagnostic">
              <ion-label class="lblopcl">NUEVO DIAGNÓSTICO</ion-label>
              <img
                class="imgopcl"
                src="/assets/btndiag.png"
                alt="opcl"
              /> </ion-button
          ></ion-col>
        </ion-row>
        <ion-row>
          <ion-col
            ><ion-button class="btnopcr" color="rgb(0, 128, 128)" routerLink="/history">
              <img
                class="imgopcr imgdiag"
                src="/assets/btnhist.png"
                alt="opcr"
              />
              <ion-label class="lblopcr">HISTORIAL DE DIAGNÓSTICO</ion-label>
            </ion-button></ion-col
          >
        </ion-row>
        <ion-row>
          <ion-col
            ><ion-button class="btnopcl" color="rgb(0, 128, 128)" routerLink="/location">
              <ion-label class="lblopcl lblenc">ENCONTRAR</ion-label>
              <img
                class="imgopcl imgloc"
                src="/assets/btnloc.png"
                alt="opcl"
              /> </ion-button
          ></ion-col>
        </ion-row>
        <ion-row>
          <ion-col
            ><ion-button class="btnopcr" color="rgb(0, 128, 128)" routerLink="/profile">
              <img
                class="imgopcr imgpro"
                src="/assets/btnprof.png"
                alt="opcr"
              />
              <ion-label class="lblopcr">PERFIL</ion-label>
            </ion-button></ion-col
          >
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="cerrarSesion()">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
