<ion-content [fullscreen]="true">
  <ion-list class="ilcont ion-no-padding">
    <ion-list class="ilcontsec ion-no-padding">
      <ion-item class="itlog" lines="none">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label class="lbltit"
                >Registrate en OsteoVision
                <img class="imgicon" src="/assets/icon/Icon.png" alt="Icon" />
              </ion-label>
            </ion-col>
          </ion-row>
          <form [formGroup]="formSignUpUser">
            <ion-row>
              <ion-col>
                <ion-input
                  formControlName="docId"
                  class="inpdoc"
                  type="number"
                  label="N° Documento de Identidad"
                  labelPlacement="stacked"
                >
                  <ion-icon
                    slot="start"
                    name="id-card"
                    aria-hidden="true"
                  ></ion-icon>
                </ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-input
                  formControlName="nombres"
                  class="inpnom"
                  label="Nombres"
                  labelPlacement="stacked"
                >
                  <ion-icon slot="start" name="accessibility" aria-hidden="true"></ion-icon>
                </ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-input
                  formControlName="apell"
                  class="inpape"
                  label="Apellidos"
                  labelPlacement="stacked"
                >
                  <ion-icon slot="start" name="accessibility" aria-hidden="true"></ion-icon>
                </ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-input
                  formControlName="telefono"
                  type="number"
                  class="inptel"
                  label="N° Teléfono"
                  labelPlacement="stacked"
                >
                  <ion-icon
                    slot="start"
                    name="call"
                    aria-hidden="true"
                  ></ion-icon>
                </ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-input
                  formControlName="edad"
                  type="number"
                  class="inpedad"
                  label="Edad"
                  labelPlacement="stacked"
                >
                  <ion-icon
                    slot="start"
                    name="accessibility"
                    aria-hidden="true"
                  ></ion-icon>
                </ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-input
                  formControlName="direc"
                  type="email"
                  class="inpdir"
                  label="Dirección"
                  labelPlacement="stacked"
                >
                  <ion-icon
                    slot="start"
                    name="location"
                    aria-hidden="true"
                  ></ion-icon>
                </ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-input
                  formControlName="user"
                  class="inpuser"
                  label="Usuario"
                  labelPlacement="stacked"
                >
                  <ion-icon
                    slot="start"
                    name="person-circle-outline"
                    aria-hidden="true"
                  ></ion-icon>
                </ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-input
                  formControlName="email"
                  type="email"
                  class="inpmail"
                  label="Email"
                  labelPlacement="stacked"
                >
                  <ion-icon
                    slot="start"
                    name="mail"
                    aria-hidden="true"
                  ></ion-icon>
                </ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-input
                  formControlName="pass"
                  class="inppas"
                  label="Contraseña"
                  type="password"
                  labelPlacement="stacked"
                >
                  <ion-icon slot="start" name="key" aria-hidden="true"></ion-icon>
                </ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-select 
                  formControlName="sexo"
                  class="islsex" 
                  label="Sexo" 
                  interface="popover" 
                  placeholder="Seleccionar género">
                <ion-select-option value="M">Masculino</ion-select-option>
                <ion-select-option value="F">Femenino</ion-select-option>
              </ion-select>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-input
                  formControlName="fecha_nac"
                  type="date"
                  class="inpdat"
                  label="Fecha de Nacimiento"
                  labelPlacement="stacked"
                >
                  <ion-icon
                    slot="start"
                    name="calendar"
                    aria-hidden="true"
                  ></ion-icon>
                </ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-input
                  formControlName="peso"
                  type="number"
                  class="inppes"
                  label="Peso (kg)"
                  labelPlacement="stacked"
                >
                  <ion-icon
                    slot="start"
                    name="accessibility"
                    aria-hidden="true"
                  ></ion-icon>
                </ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-input
                  formControlName="altura"
                  type="number"
                  class="inpalt"
                  label="Altura (cm)"
                  labelPlacement="stacked"
                >
                  <ion-icon
                    slot="start"
                    name="accessibility"
                    aria-hidden="true"
                  ></ion-icon>
                </ion-input>
              </ion-col>
            </ion-row>
          </form>
          <ion-row class="btncont">
            <ion-col>
              <ion-button 
                class="btnlog" 
                color="green" 
                (click)="registrarUsuario()"
              >Registrarse</ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="btncont">
            <ion-col>
              <ion-label class="lblreg">¡Ya tienes una cuenta!</ion-label>
            </ion-col>
          </ion-row>
          <ion-row class="btncont">
            <ion-col>
              <ion-button class="btnret" color="green" routerLink="/login"
                >Iniciar Sesión</ion-button
              >
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-list>
</ion-content>
